<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/rtc.css">
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/scripts/client.js"></script>
    <script defer src="/scripts/devices.js"></script>
    <script defer src="/scripts/webrtc.js"></script>
    <script defer src="/scripts/deviceCreate.js"></script>
</head>
<body>
    <footer><button onclick="turnVideoState(!callState.video)">캠</button><button onclick="turnAudioState(!callState.audio)">마이크</button><button onclick="turnDesktopState(!callState.desktop)">화면공유</button></footer>
</body>
</html>