<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/EDWOP LIVE.png">
    <link rel="stylesheet" href="/css/rtc.css">
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/scripts/client.js"></script>
    <script defer src="/scripts/devices.js"></script>
    <script defer src="/scripts/webrtc.js"></script>
    <script defer src="/scripts/deviceCreate.js"></script>
    <script defer src="/scripts/event.js"></script>
</head>
<body>
	<section class="live_room">
		<section class="select_room">
			<header class="select_top_header">
				<div class="user_select_box"></div>
			</header>
			<main class="user_main_video"></main>
		</section>
		<section class="container_room">
			<div></div>
		</section>
		<footer class="setting_box">
			<div class="setting_box_left">
				<svg class="chat_menu_state" width="24" height="24" viewBox="0 0 512 512">
					<path style="fill:#64B5F6;" d="M445.6,174.9c1.4,10.6,2.4,22.2,2.4,33.1c0,132.4-107.6,240-240,240c-10.8,0-22.4-0.9-33-2.3 c35.2,40.6,87.2,66.3,145,66.3c45.9,0,89.2-16,123.9-45.5l40.8,40.8c3.1,3.1,7.2,4.7,11.3,4.7c2,0,4.2-0.4,6.1-1.2 c6-2.5,9.9-8.3,9.9-14.8V320C512,262.1,486.3,210.1,445.6,174.9z"/>
					<path style="fill:#2196F3;" d="M208,0C93.3,0,0,93.3,0,208v192c0,6.5,3.9,12.3,9.9,14.8c2,0.8,4.1,1.2,6.1,1.2 c4.2,0,8.3-1.6,11.3-4.7l45.4-45.4C110.5,398.3,157.9,416,208,416c114.7,0,208-93.3,208-208S322.7,0,208,0z"/>
				</svg>
				<svg class="user_menu_state" width="24" height="24" viewBox="0 0 505.4 505.4">
					<path d="M437.1,233.45c14.8-10.4,24.6-27.7,24.6-47.2c0-31.9-25.8-57.7-57.7-57.7c-31.9,0-57.7,25.8-57.7,57.7
						c0,19.5,9.7,36.8,24.6,47.2c-12.7,4.4-24.3,11.2-34.1,20c-13.5-11.5-29.4-20.3-46.8-25.5c21.1-12.8,35.3-36.1,35.3-62.6
						c0-40.4-32.7-73.1-73.1-73.1c-40.4,0-73.1,32.8-73.1,73.1c0,26.5,14.1,49.8,35.3,62.6c-17.2,5.2-32.9,13.9-46.3,25.2
						c-9.8-8.6-21.2-15.3-33.7-19.6c14.8-10.4,24.6-27.7,24.6-47.2c0-31.9-25.8-57.7-57.7-57.7s-57.7,25.8-57.7,57.7
						c0,19.5,9.7,36.8,24.6,47.2C28.5,247.25,0,284.95,0,329.25v6.6c0,0.2,0.2,0.4,0.4,0.4h122.3c-0.7,5.5-1.1,11.2-1.1,16.9v6.8
						c0,29.4,23.8,53.2,53.2,53.2h155c29.4,0,53.2-23.8,53.2-53.2v-6.8c0-5.7-0.4-11.4-1.1-16.9H505c0.2,0,0.4-0.2,0.4-0.4v-6.6
						C505.2,284.85,476.8,247.15,437.1,233.45z M362.3,186.15c0-23,18.7-41.7,41.7-41.7s41.7,18.7,41.7,41.7
						c0,22.7-18.3,41.2-40.9,41.7c-0.3,0-0.5,0-0.8,0s-0.5,0-0.8,0C380.5,227.45,362.3,208.95,362.3,186.15z M194.9,165.35
						c0-31.5,25.6-57.1,57.1-57.1s57.1,25.6,57.1,57.1c0,30.4-23.9,55.3-53.8,57c-1.1,0-2.2,0-3.3,0c-1.1,0-2.2,0-3.3,0
						C218.8,220.65,194.9,195.75,194.9,165.35z M59.3,186.15c0-23,18.7-41.7,41.7-41.7s41.7,18.7,41.7,41.7c0,22.7-18.3,41.2-40.9,41.7
						c-0.3,0-0.5,0-0.8,0s-0.5,0-0.8,0C77.6,227.45,59.3,208.95,59.3,186.15z M125.5,320.15H16.2c4.5-42.6,40.5-76,84.2-76.3
						c0.2,0,0.4,0,0.6,0s0.4,0,0.6,0c20.8,0.1,39.8,7.8,54.5,20.3C141.7,279.75,131,298.95,125.5,320.15z M366.8,359.95
						c0,20.5-16.7,37.2-37.2,37.2h-155c-20.5,0-37.2-16.7-37.2-37.2v-6.8c0-62.1,49.6-112.9,111.3-114.7c1.1,0.1,2.3,0.1,3.4,0.1
						s2.3,0,3.4-0.1c61.7,1.8,111.3,52.6,111.3,114.7V359.95z M378.7,320.15c-5.5-21.1-16-40-30.3-55.6c14.8-12.8,34-20.5,55-20.7
						c0.2,0,0.4,0,0.6,0s0.4,0,0.6,0c43.7,0.3,79.7,33.7,84.2,76.3H378.7z"/>
				</svg>
			</div>
			<div class="setting_box_center">
				<div class="user_camera_toggle">
					<svg width="22" height="22" viewBox="0 0 459 459">
						<path d="M357,191.25V102c0-15.3-10.2-25.5-25.5-25.5h-306C10.2,76.5,0,86.7,0,102v255c0,15.3,10.2,25.5,25.5,25.5h306
							c15.3,0,25.5-10.2,25.5-25.5v-89.25l102,102V89.25L357,191.25z"/>
					</svg>
				</div>
				<div class="user_desktop_toggle">
					<svg width="22" height="22" viewBox="0 0 512 512">
						<path d="m494.601 67.065h-477.202c-9.609 0-17.399 7.79-17.399 17.399v259.371c0 9.609 7.79 17.399 17.399 17.399h477.202c9.609 0 17.399-7.79 17.399-17.399v-259.371c0-9.609-7.79-17.399-17.399-17.399z"/>
						<path d="m355.423 414.75h-59.069v-23.331h-80.708v23.331h-59.07c-8.335 0-15.093 6.757-15.093 15.093 0 8.335 6.757 15.093 15.093 15.093h198.847c8.335 0 15.093-6.757 15.093-15.093 0-8.335-6.757-15.093-15.093-15.093z"/>
					</svg>
				</div>
				<div class="user_audio_toggle">
					<svg width="22" height="22" viewBox="-90 1 511 511.99899">
						<path d="m332.464844 275.082031c0-8.429687-6.835938-15.265625-15.269532-15.265625-8.433593 0-15.269531 6.835938-15.269531 15.265625 0 74.6875-60.757812 135.445313-135.445312 135.445313-74.683594 0-135.441407-60.757813-135.441407-135.445313
							0-8.429687-6.835937-15.265625-15.269531-15.265625-8.433593 0-15.269531 6.835938-15.269531 15.265625 0 86.378907 66.320312 157.539063 150.710938 165.273438v41.105469h-56.664063c-8.433594 0-15.269531 6.835937-15.269531 15.269531 0 8.433593
							6.835937 15.269531 15.269531 15.269531h143.871094c8.429687 0 15.265625-6.835938 15.265625-15.269531 0-8.433594-6.835938-15.269531-15.265625-15.269531h-56.667969v-41.105469c84.394531-7.730469 150.714844-78.894531 150.714844-165.273438zm0 0"/>
						<path d="m166.480469 372.851562c53.910156 0 97.769531-43.859374 97.769531-97.769531v-177.316406c0-53.90625-43.859375-97.765625-97.769531-97.765625-53.90625 0-97.765625 43.859375-97.765625 97.765625v177.316406c0 53.910157 43.859375 97.769531 97.765625 97.769531zm0 0"/>
					</svg>
				</div>
			</div>
			<div class="setting_box_right">
				<svg class="page_fullscreen_state fullpagemode" style="display: inline;" width="24" height="24">
					<path d="M19,3H14V5h5v5h2V5A2,2,0,0,0,19,3Z"></path>
					<path d="M19,19H14v2h5a2,2,0,0,0,2-2V14H19Z"></path>
					<path d="M3,5v5H5V5h5V3H5A2,2,0,0,0,3,5Z"></path>
					<path d="M5,14H3v5a2,2,0,0,0,2,2h5V19H5Z"></path>
				</svg>
				<svg class="page_fullscreen_state defaultpagemode" width="24" height="24">
					<path d="M16,8V3H14V8a2,2,0,0,0,2,2h5V8Z"></path>
					<path d="M14,16v5h2V16h5V14H16A2,2,0,0,0,14,16Z"></path>
					<path d="M8,8H3v2H8a2,2,0,0,0,2-2V3H8Z"></path>
					<path d="M8,14H3v2H8v5h2V16A2,2,0,0,0,8,14Z"></path>
				</svg>
			</div>
		</footer>
	</section>
	<aside class="right_side">
		<section class="user_room">
			<header>
				<svg width="16" height="16" viewBox="0 0 505.4 505.4">
					<path d="M437.1,233.45c14.8-10.4,24.6-27.7,24.6-47.2c0-31.9-25.8-57.7-57.7-57.7c-31.9,0-57.7,25.8-57.7,57.7
						c0,19.5,9.7,36.8,24.6,47.2c-12.7,4.4-24.3,11.2-34.1,20c-13.5-11.5-29.4-20.3-46.8-25.5c21.1-12.8,35.3-36.1,35.3-62.6
						c0-40.4-32.7-73.1-73.1-73.1c-40.4,0-73.1,32.8-73.1,73.1c0,26.5,14.1,49.8,35.3,62.6c-17.2,5.2-32.9,13.9-46.3,25.2
						c-9.8-8.6-21.2-15.3-33.7-19.6c14.8-10.4,24.6-27.7,24.6-47.2c0-31.9-25.8-57.7-57.7-57.7s-57.7,25.8-57.7,57.7
						c0,19.5,9.7,36.8,24.6,47.2C28.5,247.25,0,284.95,0,329.25v6.6c0,0.2,0.2,0.4,0.4,0.4h122.3c-0.7,5.5-1.1,11.2-1.1,16.9v6.8
						c0,29.4,23.8,53.2,53.2,53.2h155c29.4,0,53.2-23.8,53.2-53.2v-6.8c0-5.7-0.4-11.4-1.1-16.9H505c0.2,0,0.4-0.2,0.4-0.4v-6.6
						C505.2,284.85,476.8,247.15,437.1,233.45z M362.3,186.15c0-23,18.7-41.7,41.7-41.7s41.7,18.7,41.7,41.7
						c0,22.7-18.3,41.2-40.9,41.7c-0.3,0-0.5,0-0.8,0s-0.5,0-0.8,0C380.5,227.45,362.3,208.95,362.3,186.15z M194.9,165.35
						c0-31.5,25.6-57.1,57.1-57.1s57.1,25.6,57.1,57.1c0,30.4-23.9,55.3-53.8,57c-1.1,0-2.2,0-3.3,0c-1.1,0-2.2,0-3.3,0
						C218.8,220.65,194.9,195.75,194.9,165.35z M59.3,186.15c0-23,18.7-41.7,41.7-41.7s41.7,18.7,41.7,41.7c0,22.7-18.3,41.2-40.9,41.7
						c-0.3,0-0.5,0-0.8,0s-0.5,0-0.8,0C77.6,227.45,59.3,208.95,59.3,186.15z M125.5,320.15H16.2c4.5-42.6,40.5-76,84.2-76.3
						c0.2,0,0.4,0,0.6,0s0.4,0,0.6,0c20.8,0.1,39.8,7.8,54.5,20.3C141.7,279.75,131,298.95,125.5,320.15z M366.8,359.95
						c0,20.5-16.7,37.2-37.2,37.2h-155c-20.5,0-37.2-16.7-37.2-37.2v-6.8c0-62.1,49.6-112.9,111.3-114.7c1.1,0.1,2.3,0.1,3.4,0.1
						s2.3,0,3.4-0.1c61.7,1.8,111.3,52.6,111.3,114.7V359.95z M378.7,320.15c-5.5-21.1-16-40-30.3-55.6c14.8-12.8,34-20.5,55-20.7
						c0.2,0,0.4,0,0.6,0s0.4,0,0.6,0c43.7,0.3,79.7,33.7,84.2,76.3H378.7z"/>
				</svg>
				<span>유저</span>
			</header>
			<main>
				<div class="user_room_userlist_box"></div>
			</main>
		</section>
		<section class="chat_room">
			<header>
				<svg width="13" height="13" viewBox="0 0 512 512">
					<path style="fill:#64B5F6;" d="M445.6,174.9c1.4,10.6,2.4,22.2,2.4,33.1c0,132.4-107.6,240-240,240c-10.8,0-22.4-0.9-33-2.3 c35.2,40.6,87.2,66.3,145,66.3c45.9,0,89.2-16,123.9-45.5l40.8,40.8c3.1,3.1,7.2,4.7,11.3,4.7c2,0,4.2-0.4,6.1-1.2 c6-2.5,9.9-8.3,9.9-14.8V320C512,262.1,486.3,210.1,445.6,174.9z"/>
					<path style="fill:#2196F3;" d="M208,0C93.3,0,0,93.3,0,208v192c0,6.5,3.9,12.3,9.9,14.8c2,0.8,4.1,1.2,6.1,1.2 c4.2,0,8.3-1.6,11.3-4.7l45.4-45.4C110.5,398.3,157.9,416,208,416c114.7,0,208-93.3,208-208S322.7,0,208,0z"/>
				</svg>
				<span>채팅</span>
			</header>
			<main class="chatlistbox"></main>
			<footer>
				<textarea class="chat_input" placeholder="메시지 보내기"></textarea>
				<button class="chat_send">채팅</button>
			</footer>
		</section>
	</aside>
	<span class="getSessionKey"><%= key %></span>
</body>
</html>