* {
    outline: none;
} *::-webkit-scrollbar {
    width: 8px;
	height: 8px;
    /* background-color: rgba(255, 255, 255, 0.7); */
	border-radius: 4px;
} *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(150, 150, 150, 0.8);
}

.alert, .prompt, .confirm {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    min-width: 150px;
    width: 80vw;
    z-index: 100;
    left: 0;
    right: 0;
    top: 4px;
    background-color: white;
    box-shadow: 0px 0px 4px black;
    border-radius: 4px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}.al_okbtn {
    color: white;
    background-color: rgb(0, 81, 255);
    margin-top: 20px;
    border: 1px solid blue;
    border-radius: 3px;
    width: 50px;
    height: 30px;
    align-self: flex-end;
}.al_buttonBox {
    align-self: flex-end;
}.al_cancelbtn {
    color: rgb(0, 81, 255);
    background-color: white;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 3px;
    width: 50px;
    height: 30px;
    align-self: flex-end;
    margin-left: 15px;
}.al_inputBox {
    height: 20px;
    margin-top: 15px;
}

.getSessionKey {
	display: none;
}

/*@media only screen and (orientation: portrait) {
	html[isMobile] {
		height: 100vw;
		transform: rotate(90deg);
	}
	
	html[isMobile] video {
		transform: rotate(90deg);
	}
}*/

body {
	display: flex;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	flex-direction: row;
	margin: 0;
}

.interactAlert {
	position: fixed;
	align-self: center;
	padding: 20px;
	min-width: 200px;
	max-width: 500px;
	width: 30vw;
	background-color: white;
	box-shadow: 2px 2px 5px 3px black;
	margin: auto;
	left: 0;
	right: 0;
}

.live_room {
	display: flex;
	flex-grow: 2;
	flex-direction: column;
	background-color: black;
	width: 100%;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select:none;
}

.right_side {
	flex-grow: 1;
	max-width: 370px;
	min-width: 200px;
	width: 40vw;
	flex-direction: column;
	display: none;
}

.user_room {
	flex-grow: 1;
	display: none;
	flex-direction: column;
	height: 100%;
}

.user_room > header {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	padding: 5px;
	height: 20px;
	box-shadow: 0px 0px 2px black;
}
.user_room > header > span {
	margin-left: 10px;
	font-size: 12px;
	font-weight: bold;
}

.user_room > main {
	flex-grow: 1;
	overflow-x: hidden;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	padding-bottom: 3px;
}

.chat_room {
	flex-grow: 1;
	display: none;
	flex-direction: column;
	height: 100%;
}

.chat_room > header {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	padding: 5px;
	height: 20px;
	box-shadow: 0px 0px 2px black;
}
.chat_room > header > span {
	margin-left: 10px;
	font-size: 12px;
	font-weight: bold;
}

.chat_room > main {
	flex-grow: 1;
	padding: 8px;
	overflow-y: auto;
	overflow-x: hidden;
	flex-basis: 0;
}

.chat_room > footer {
	padding: 7px;
}

.container_room {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	overflow-y: scroll;
	overflow-x: hidden;
	/* flex-direction: row; */
	margin: 10px 0;
}

.container_room > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.container_boxitem {
	flex-grow: 1;
	min-width: 210px;
	max-width: 90vh;
	margin: 10px;
}

.container_boxshape {
	background-color: aquamarine;
	border-radius: 8px;
	padding-top: 56.25%;
	position: relative;
}

.container_boxshape .userCamera {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	transform: scaleX(-1);
}

.container_boxshape .userDesktopCamera {
	display: none;
}

.select_room {
	flex-grow: 1;
	display: none;
	flex-direction: column;
	position: relative;
}

.select_room > header {
	flex-shrink: 0;
	height: 190px;
	max-height: 23%;
	min-height: 70px;
	display: flex;
	align-items: center;
	padding: 5px;
	margin: 0 10px;
	overflow-x: auto;
	flex-direction: row;
	overflow-y: hidden;
}

.user_select_box {
	display: flex;
	flex-wrap: nowrap;
	margin: 10px auto;
	height: 100%;
}

.user_select_box > .select_boxitem {
	width: 210px;
	height: 100%;
	margin: 0 10px;
	background-color: azure;
	border-radius: 8px;
	position: relative;
	flex-shrink: 0;
	display: inline-block;
	box-sizing: border-box;
}

.user_select_box .userDesktopCamera {
	display: none;
}

.user_select_box .userCamera {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	transform: scaleX(-1);
}

.user_select_box > .select_boxitem[selected] {
	border: 5px solid aquamarine;
}

.user_main_video {
	flex-grow: 1;
	height: 100%;
	position: relative;
	margin-bottom: 7px;
}

.user_main_video .userCamera {
	transform: scaleX(-1);
}

.user_main_video > video {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.setting_box {
	flex-grow: 0;
	flex-shrink: 0;
	height: 0;
	transition: all 0.2s;
	display: flex;
	justify-content: center;
	padding: 0 20px;
	align-items: center;
	overflow: hidden;
}.live_room:hover .setting_box {
	height: 50px;
}

.setting_box > div {
	flex-grow: 1;
	width: 100%;
}

.setting_box_right {
	text-align: right;
}

.createURL {
	cursor: pointer;
}.createURL path {
	fill:#bbbbbb;
}.createURL:hover path {
	fill: white;
}

.page_fullscreen_state {
	display: none;
	fill:#bbbbbb;
	cursor: pointer;
}.page_fullscreen_state:hover path {
	fill: white;
}

.chat_menu_state {
	border: 1px solid #c8c8c8c8;
	padding: 4px;
	border-radius: 6px;
	cursor: pointer;
}.chat_menu_state:hover {
	border-color: orange;
}

.chat_input {
	resize: none;
	width: 100%!important;
	border-radius: 3px;
	border: 2px solid #00000000;
	transition: all 0.2s;
	background-color: rgb(233, 233, 233);
	text-size-adjust: 100%;
	line-height: 1.5;
	padding: 10px;
	box-sizing: border-box;
	font-family: Inter, Roobert, Arial, Helvetica, sans-serif;
}.chat_input:hover {
	border-color: #c8c8c8c8;
}.chat_input:focus {
	background-color: #00000000;
	border-color: purple;
}.chat_input::placeholder {
	color: gray;
}.chat_input::-webkit-input-placeholder {
	color: gray;
}.chat_input::-ms-input-placeholder {
	color: gray;
}

.chat_send {
	background-color: rgb(170, 0, 170);
	color: white;
	float: right;
	padding: 4px 6px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}.chat_send:hover {
	background-color: purple;
}.chat_send:active {
	background-color: rgb(100, 0, 100);
}

.user_menu_state {
	border: 1px solid #c8c8c8c8;
	padding: 4px;
	border-radius: 6px;
	cursor: pointer;
}.user_menu_state path {
	fill: #c8c8c8c8;
}.user_menu_state:hover {
	border-color: orange;
}.user_menu_state:hover path {
	fill: orange;
}

.chatbox {
	overflow-x: hidden;
	margin-bottom: 12px;
}

.chatbox:last-child {
	margin-bottom: 0;
}

.chatbox > .chatbox_top {
	display: flex;
	flex-direction: row;
}

.chatbox > .chatbox_top > .chatbox_sender {
	font-family: Inter, Roobert, Arial, Helvetica, sans-serif;
	flex-grow: 1;
	overflow: hidden;
	margin-right: 7px;
	font-weight: bold;
	font-size: 15px;
}

.chatbox > .chatbox_top > .chatbox_time {
	font-family: Inter, Roobert, Arial, Helvetica, sans-serif;
	color: rgb(128, 128, 128);
	font-weight: 500;
	flex-shrink: 0;
	font-size: 13px;
	display: none;
}

.chat_room:hover .chatbox > .chatbox_top > .chatbox_time {
	display: inline;
}

.chatbox > .chatbox_msg {
	font-family: Inter, Roobert, Arial, Helvetica, sans-serif;
	word-break: break-all;
	padding-left: 7px;
	font-size: 13px;
}

.setting_box_center {
	padding-bottom: 8px;
	display: flex;
	justify-content: space-around;
}

.user_camera_toggle {
	border-radius: 100%;
	padding: 8px;
	background-color: rgb(66, 66, 66);
	display: inline-block;
	cursor: pointer;
}.user_camera_toggle:hover {
	background-color: rgb(45, 45, 45);
}.user_camera_toggle path {
	fill: white;
}.user_camera_toggle[activity] {
	background-color: white;
}.user_camera_toggle[activity] path {
	fill: black;
}

.user_desktop_toggle {
	border-radius: 100%;
	padding: 8px;
	background-color: rgb(66, 66, 66);
	display: inline-block;
	cursor: pointer;
}.user_desktop_toggle:hover {
	background-color: rgb(45, 45, 45);
}.user_desktop_toggle path {
	fill: white;
}.user_desktop_toggle[activity] {
	background-color: white;
}.user_desktop_toggle[activity] path {
	fill: black;
}

.user_audio_toggle {
	border-radius: 100%;
	padding: 8px;
	background-color: rgb(66, 66, 66);
	display: inline-block;
	cursor: pointer;
}.user_audio_toggle:hover {
	background-color: rgb(45, 45, 45);
}.user_audio_toggle path {
	fill: white;
}.user_audio_toggle[activity] {
	background-color: white;
}.user_audio_toggle[activity] path {
	fill: black;
}

.user_call_close {
	border-radius: 100%;
	padding: 8px;
	background-color: red;
	display: inline-block;
	cursor: pointer;
}.user_call_close path {
	fill: white;
}

.userbox_nametag {
	position: absolute;
	padding: 10px;
	overflow: hidden;
	bottom: 0;
	left: 0;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.85);
	color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	margin: 5px;
	max-width: 70%;
	max-height: 40%;
	box-sizing: border-box;
	transform: scale(0);
	transition: all 0.4s;
	z-index: 10;
	border: 1px solid rgba(255, 255, 255, 0.3);
	word-break: break-all;
}

.live_room:hover > .container_room .userbox_nametag {
	transform: scale(1);
}

.select_room > header:hover .userbox_nametag {
	transform: scale(1);
}

.user_main_video .main_nametag {
	position: absolute;
	padding: 10px;
	overflow: hidden;
	bottom: 0;
	left: 0;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.85);
	color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	margin: 5px;
	max-width: 70%;
	max-height: 40%;
	box-sizing: border-box;
	transform: scale(0);
	transition: all 0.4s;
	z-index: 10;
	border: 1px solid rgba(255, 255, 255, 0.5);
	word-break: break-all;
}

.user_main_video:hover .main_nametag {
	transform: scale(1);
}

.user_name_select {
	margin: 4px;
	height: 22px;
	padding: 5px;
	border-radius: 6px;
}

.user_room_userlist_box {
	margin: 1px 6px;
	overflow-y: auto;
}
.user_room_userlist_box > .userlistItem[hidden] {
	display: none;
}

.main_video_lock {
	position: absolute;
	top: 0;
	max-width: 70%;
	max-height: 40%;
	overflow: hidden;
	border-radius: 6px;
	border: 2px solid rgba(230, 230, 230, 0.7);
	color: rgba(230, 230, 230, 0.7);
	background-color: rgba(0, 0, 0, 0.7);
	padding: 4px;
	box-sizing: border-box;
	z-index: 10;
	display: none;
	margin: 7px;
	cursor: pointer;
}

.defaultPageMove {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 7px;
	margin: 10px;
	padding: 7px;
	cursor: pointer;
}.defaultPageMove path {
	fill: rgba(255, 255, 255, 0.8);
}